{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'lettings.css' %}">


<title>Profiles</title>
<h1 class="title">Profiles</h1>

<div class="menu">
    <a class="item-menu" href="{% url 'index' %}">Home</a>
    <a class="item-menu" href="{% url 'lettings:index' %}">Lettings</a>
</div>


{% if profiles_list %}
    <ul class="table">
    {% for profile in profiles_list %}
        <li class="table-item">
            <a href="{% url 'profiles:profile' username=profile.user.username %}">
                {{ profile.user.username }}
            </a>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No profiles are available.</p>
{% endif %}
