{% load static %}

<link rel="stylesheet" type="text/css" href="{% static '/css/home.css' %}">
<link rel="stylesheet" type="text/css" href="{% static '/css/lettings.css' %}">

<title>Lettings</title>

<h1 class="title">Lettings</h1>

<div class="menu">
    <a class="item-menu" href="{% url 'index' %}">Home</a>
    <a class="item-menu" href="{% url 'profiles:index' %}">Profiles</a>
</div>

{% if lettings_list %}
    <ul class="table">
    {% for letting in lettings_list %}
        <li class="table-item">
            <a href="{% url 'lettings:letting' letting_id=letting.id %}">
                {{ letting.title }}
            </a>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No lettings are available.</p>
{% endif %}

